@import url('general.css');
@import url('footer.css');
@import url('nav.css');

a{
    text-decoration: none;
}

/* Seccion busqueda */
.section__search{
    padding: 30px 0px 50px 0px;
}
.section__search-title{
    padding-bottom: 40px;
    text-align: center;
}

.search__container{
    display: flex;
    justify-content: center;
    gap: 30px;
    /*  */
    flex-wrap: wrap;
}

.search__container-inputs {
    border: 2px solid brown;
    border-radius: 20px;
    background-color: transparent;
}
.search__container-input::placeholder{
    color:var(--c-Yellow) ;
}
.search__container-input {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    background-color: transparent;
    color: orange;
    min-width: 150px
}

.search__container input:first-child {
    border-right: 2px solid brown;
}


/* Seccion sugerencia*/
.section__tips{
    text-align: center;
    padding:20px 0px 50px 0px;
}
.section__tip-title{
    font-size: 36px;
    margin-bottom: 30px;
}

.section__tips .search__result-book{
    margin: 0 auto;
    height: 300px;
    width:50%;
    max-width: 450px;
}
.section__tips .search__result-book_img{
    width: 40%;
}


/* Seccion resultados */
.section__search-results{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows:300px ;
    gap: 40px;
    padding-bottom: 40px;
}
.search__result-book{
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--c-Orange);
    border-radius: 10px;
}
.search__result-book_inf{
    width: 50%;;
}
.search__result-book_inf p:nth-child(2){
    margin-bottom: 5px;
}
.search__result-book_img{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
}
.search__result-book_img img{
    height:80%;
    width: 95%;
}
.result-book_inf-title{
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.book_inf-btn{
    margin-top: 30px;
    padding: 5px 30px;
    border-radius: 20px;
    font-size:15px;
    border: 3px solid var(--c-Yellow);
    background-color: var(--c-Yellow);
    transition: .5s background-color;
    color: var(--c-Brown);
}
.book_inf-btn:hover{
    background-color: transparent;
    border: 3px solid var(--c-Orange);
}

.min-height{
    height: 40vh;
}
.d-none{
    display: none;
}

.loading_data{
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--c-Brown);
    font-family: "Roboto", serif;
    font-weight: 400;
}

@media screen and (max-width: 1024px) {
    .section__search-results {
        grid-template-columns: repeat(2, 1fr);
        padding: 0px 20px 40px 20px;
    }

    
}

@media screen and (max-width: 768px) {
    
    .search__container{
        gap: 20px;
    }
    .search__container-inputs{
        width: 100%;
        border: none;
        text-align: center;
    }
    
    .search__container-input:first-child{
        margin-bottom: 20px;
    }
    .search__container-input{
        width: 70%;
        border: 1px solid brown;
        border-radius: 20px;
    }
    .section__search-results{
        grid-auto-rows:auto ;
    }
    .section__tips .search__result-book, 
    .section__search-results .search__result-book{
        height: auto;
        flex-direction: column;
        padding: 20px 0px;
        text-align: center;
    }
    .search__result-book_inf , .search__result-book_img{
        width: 95%;
    }
    .section__tips .search__result-book_img,
    .section__search-results .search__result-book_img{
        margin-top: 25px;
        width: 100%;
        
    }
    .section__tips .search__result-book_img img,
    .section__search-results .search__result-book_img img{
        height: auto;
        max-width: 100%;
        max-height: 250px;
        margin: 0 auto;
        object-fit: contain;
    }
    .section__search-results {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 480px) {
    .search__container-input{
        width: 90%; 
    }
    .section__tips .search__result-book{
        width: 90%;
    }
}
