/* GENERIC */
*{
    margin: 0;
    padding: 0;
}
/* END GENERIC */

/* FONTS */
.title{
    font-family: "KyivType Sans", sans-serif;
    font-size: 9.375rem;
    font-weight: 700;
    font-style: normal;
    -webkit-text-stroke-color: #59380D;
    -webkit-text-stroke-width: 3px;
}
.subtitle{
    font-family: "Roboto", serif;
    font-size: 3rem;
    font-weight: 700;
    font-style: normal;
}
.text{
    font-family: "Roboto", serif;
    font-size: 1.25rem;
    font-weight: 700;
    font-style: normal;
}

/* END FONTS */

/* COLORS */
.bg_c_Beige{
    color: #F5ECD7;
}
.c_Brown{
    color: #59380D;
}
.c_Pink{
    color: #E1A8A8;
}
.c_Orange{
    color: #FF8A58;
}
.c_Yellow{
    color: #F2C379;
}
/* END COLORS */

/* BUTTONS */
.general_button{
    width: 12.6rem;
    height: 4rem;
    border-radius: 1.875rem;
    border: 3px solid #59380D;
    background-color: transparent;
    font-size: 1.5rem;
    color: #59380D;
    font-weight: 700;
}
.general_button:hover{
    background-color: #E1A8A8;
    border: .1875rem solid #E1A8A8;
    color: #F5ECD7;
    cursor: pointer;
}
.secondary_button{
    width: 18.2rem;
    height: 4rem;
    background-color: transparent;
    border-radius: 1.875rem;
    border: 3px solid #FF8A58;
    color: #FF8A58;
    font-size: 1.5rem;
    font-weight: 700;
}
.secondary_button:hover{
    background-color: #FF8A58;
    color: #F5ECD7;
    cursor: pointer;

}
.search_button{
    width: 12.6rem;
    height: 4rem;
    border-radius: 1.875rem;
    border: none;
    background-color: #E1A8A8;
    color: #F5ECD7;
    font-size: 1.5rem;
    font-weight: 700;
}
.search_button:hover{
    background-color: transparent;
    border: 3px solid #E1A8A8;
    color: #E1A8A8;
    cursor: pointer;
}
/* END BUTTONS */