:root{
    --c-Beige:#F5ECD7;
    --c-Browm:#59380D;
    --c-Pink:#E1A8A8;
    --c-Orange:#FF8A58;
    --c-Yellow:#F2C379;
}

*{
    box-sizing: border-box;
    font-family: "Roboto", serif;
    font-weight: 700;
}
h1,h2,h3,p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

/* SECCION RECOMENDADOS */
.recommendeds{
    margin: 35px 0px 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.recommendeds__options{
    padding:25px;
    width: 30%;
    border-radius:30px;
    border:3px solid var(--c-Brown);
    display: flex;
    gap:25px;
    text-align: center;
    align-items: center;
}
.recommendeds__options:hover, .news__heading-more:hover{
    text-decoration: underline;
    text-decoration-color: var(--c-Orange);
}
.recommendeds__title{
    font-size: 30px;
    flex: 1;
}
.recommendeds__image img{
    height: 110px;
}
/* FIN SECCION RECOMENDADOS */

/* SECCION NOVEDADES */
.news__heading{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.news__heading-more{
    font-size: 25px;
}
.news__container-titles{
    padding: 35px 0px 50px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.news__options{
    width: 47%;
}

.news__image{
    height: 250px;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.news__overlay{
    background-color: rgba(216, 213, 213, 0.6);;
    width: 100%;
    height: 100%;
}
.news__overlay a{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.news__title{
    font-size: 32px;
    color: var(--c-Browm);
    text-align: center;
    text-shadow: 1px 1px 1px white;
    padding: 0px 50px;
    transition: .4s color, .5s text-shadow;
}
.news__title:hover{
    color: var(--c-Beige);
    text-shadow: 2px 2px 2px var(--c-Orange);
}
/* FIN SECCION NOVEDADES */


/* MEDIA QUERIES */
@media (max-width: 1024px) {
    .recommendeds {
        justify-content: center;
        gap: 20px;
    }
    .recommendeds__options {
        width: 40%;
    }
    .recommendeds__image img{
        height: 90px;
    }
    .news__container-titles{
            gap: 30px;
        }
    .news__options {
        margin: 0 auto;
        width: 90%;
    }
}

@media (max-width: 768px) {
    .recommendeds__options {
        width: 65%;
        flex-direction: column;
        gap: 15px;
    }

    .recommendeds__title {
        font-size: 24px;
    }
    .recommendeds__image img{
        height: 90px;
    }

    .news__heading-more {
        margin-top: 10px;
    }

    .news__container-titles {
        flex-direction: column;
        align-items: center;
    }

    .news__options {
        width: 100%;
    }
    .news__image{
        height: 200px;
    }

    .news__title {
        font-size: 26px;
        padding: 0px 20px;
    }
}

@media (max-width: 480px) {
    .recommendeds__options {
        width: 85%;
        padding: 15px;
    }

    .recommendeds__title {
        font-size: 20px;
    }

    .recommendeds__image img{
        height: 70px;
    }
    .news__heading {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .news__image {
        height: 200px;
    }

    .news__title {
        font-size: 20px;
    }
}